@import "common";
@import "wait-screen";

/* -------- */
//todo check all styles
.plan {
    // centering wait screen #spinningSquaresG
    //todo see later
    position: relative;

    .header .title {
        font-size: $font_xl;
    }
}
.plan-form {
    .title {
        font-size: $font_l;
    }
    .control-label {
        //text-align: center;
    }
    .brnAdd {
        //display: none;
    }
    .btnRemove {
        margin-left: 3px;
    }
}
//todo make more granular styles for file popups
.popover-content {
    padding: 6px 8px;
}

/* Responsive: Portrait smart-phones and up */
@media screen and (max-width: 767px) {

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .plan {
        .header .nav li:last-of-type {
            margin-left: 20px;
        }
        /*.stage {
            padding-top: 15px;
        }*/
    }
    .notify-window {
        margin-top: -3px;
    }
}
